
<!--SISTEMA DE SELEÇÃO DE USUÁRIOS-->
<div class="toolbar-container">
  <!--<mat-toolbar color="primary" routerLink="/">
    <button mat-button>{{ "toolbar.announcement" | translate }}</button>
  </mat-toolbar>-->

  <mat-toolbar
    fxLayout="row"
    fxLayoutAlign="space-between center"
    color="accent"
  >

  <!--LOGO DA EMPRESA-->
    <div fxLayout="row" fxLayoutAlign="center center" routerLink="/" class="logo">
      <img
        class="logo-size"
        src="assets/images/logo.png"
        alt="Logo empresa"
      />
    </div>
    <app-menu> </app-menu>
  </mat-toolbar>
</div>

<!--MENU-->
<div>
  <mat-sidenav-container autosize class="navegation-container">
    <mat-sidenav
      #sidenav
      position="start"
      class="nave-container"
      opened="true"
      mode="side"
      fixedInViewport="false"
    >

      <mat-nav-list>
        <!--<mat-list-item (click)="openClose()">

BOTÃO EXPANDIR
            <button mat-icon-button>
            <mat-icon *ngIf="!isOpen">chevron_right</mat-icon>
            <mat-icon *ngIf="isOpen"> chevron_left</mat-icon>
            </button>
            </mat-list-item>-->
            <!--<mat-divider></mat-divider>-->

<!--BOTÃO USUÁRIOS-->
        <mat-list-item routerLink="/">

          <mat-icon mat-list-icon matTooltip="{{ 'menu.users' | translate }}"> account_circle</mat-icon>

<!--ALGUMA COISA AQUI QUE ESCREVE O NOME DO USUÁRIO - SERIA A LEGENDA DE USUÁRIOS-->
          <!--<p matLine *ngIf="isOpen">{{ "menu.users" | translate }}</p>-->
        </mat-list-item>

        <mat-divider></mat-divider>

        <!--BOTÃO IDIOMA-->
        <mat-list-item (click)="changeLanguage()">
          <mat-icon
            mat-list-icon
            matTooltip="{{ 'menu.changeLanguage' | translate }}"
          >
            language</mat-icon
          >
          <!--<p matLine *ngIf="isOpen">
            {{ "general.currentLanguange" | translate }}
          </p>-->
        </mat-list-item>

        <mat-divider></mat-divider>

        <!--BOTÃO MUDAR TEMA-->
        <mat-list-item *ngIf="!isDark" (click)="setDarkTheme()">
          <mat-icon
            mat-list-icon
            matTooltip="{{ 'menu.changeTheme' | translate }}"
          >
            dark_mode</mat-icon
          >
          <!--<p matLine *ngIf="isOpen">{{ "menu.darkMode" | translate }}</p>-->
        </mat-list-item>

        <mat-list-item *ngIf="isDark" (click)="setLigthTheme()">
          <mat-icon
            mat-list-icon
            matTooltip="{{ 'menu.changeTheme' | translate }}"
          >
            light_mode</mat-icon
          >
          <p matLine *ngIf="isOpen">{{ "menu.lightMode" | translate }}</p>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
