// Smartphone
.form-field-item-handset {
  width: 100%;
}

.form-field-item-handset-large {
  width: 100%;
}

.form-field-item-handset-small {
  width: 100%;
}
// Tablet

.form-field-item-tablet {
  width: 49%;
}

.form-field-item-tablet-large {
  width: 75.6%;
}

.form-field-item-tablet-small {
  width: 22.3%;
}

// Web
.form-field-item-web {
  width: 32.3%;
}

.form-field-item-web-large {
  width: 75.6%;
}

.form-field-item-web-small {
  width: 22.3%;
}
