<div fxLayout="column" fxLayoutAlign="space-around center">
  <div
    class="full-width"
    fxLayout="row"
    fxLayoutGap="1em"
    fxLayoutAlign=" center"
    fxFlexFill
  >
    <div fxFlex="50">
      <mat-form-field fxFill>
        <mat-label>{{ "general.filter" | translate }}</mat-label>
        <input matInput type="text" [formControl]="filterControl" />
      </mat-form-field>
    </div>

    <div fxFlex="25">
      <button mat-stroked-button (click)="searchUser()" style="width: 100%">
        {{ "general.findDescription" | translate }}
      </button>
    </div>
    <div fxFlex="25">
      <button mat-stroked-button routerLink="new" style="width: 100%">
        {{ "general.add" | translate }}
      </button>
    </div>
  </div>

  <div class="user-container full-width" *ngIf="true">
    <mat-toolbar color="primary" class="user-item-header">
      <h1>{{ "user.header" | translate }}</h1>
    </mat-toolbar>

    <div
      class="user-item-container"
      style="padding: 0; margin: 0; line-height: 1em"
    >
      <div fxLayoutGap="2%" fxLayout="row wrap">
        <div
          class="card-container"
          *ngFor="let item of users"
          fxLayout="column"
          fxLayoutAlign="space-around center"
          routerLink="{{ item?.id }}"
        >
          <div
            class="image-container"
            fxLayout="column"
            fxLayoutAlign="space-around center"
          >
            <img
              src="{{ item?.thumbnailUrl }}"
              alt="User image"
              class="user-cover-img"
              *ngIf="item?.thumbnailUrl; else noImage"
            />

            <ng-template #noImage>
              <img
                src="assets/images/person.svg"
                alt="Default image"
                class="user-cover-img"
              />
            </ng-template>
          </div>

          <div class="user-description-container">
            <h2>
              {{ item?.firstName | titlecase }} {{ item?.lastName | titlecase }}
            </h2>

            <p>{{ item?.street | titlecase }}</p>
            <p>
              {{ item?.city | titlecase }},
              {{ getStateAbreviationById(item?.idTypeState) }} -
              {{ "user.zip" | translate }}
              {{ item?.postcode }}
            </p>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-paginator
          *ngIf="totalLength"
          [length]="totalLength"
          [pageSize]="pageSize"
          [pageIndex]="0"
          [pageSizeOptions]="[5, 10, 50, 100]"
          [showFirstLastButtons]="true"
          (page)="pageChange($event)"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
