<div
  class="background"
  fxFlex="100"
  fxLayout="column"
  fxLayoutAlign="space-around center"
>
  <div
    class="error-container"
    fxLayout="column"
    fxLayoutAlign="space-around center"
  >
    <div
      class="elements-container"
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <h1>{{ "general.pageNotFound" | translate }}</h1>
      <div class="icon-container">
        <mat-icon inline="true">sentiment_very_dissatisfied</mat-icon>
      </div>
    </div>
  </div>
</div>
