<h1>Renata</h1>
<div
  fxLayoutGap="20px"
  fxLayout="column"
  fxLayoutAlign="space-between start"
  class="full-width"
>
  <div class="full-width" fxLayout="row" fxLayoutAlign="space-between center">
    <h1>{{ "general.findDescription" | translate }}</h1>
  </div>

  <div class="full-width">
    <form
      [formGroup]="searchForm"
      fxLayout="column"
      class="full-width"
      (keyup.enter)="save()"
    >
      <mat-form-field appearance="outline">
        <mat-label>{{ "user.idLocationType" | translate }}</mat-label>
        <mat-select formControlName="idLocationType">
          <mat-option [value]="">--</mat-option>
          <mat-option *ngFor="let type of listLocation" [value]="type.id">
            {{ type.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ "user.idRegionType" | translate }}</mat-label>
        <mat-select formControlName="idRegionType">
          <mat-option [value]="">--</mat-option>
          <mat-option *ngFor="let type of listRegion" [value]="type.id">
            {{ type.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>
          {{ "general.latitudeMax" | translate }}
        </mat-label>
        <input
          type="number"
          matInput
          formControlName="latitudeMax"
          placeholder="ex.: 0.500"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>
          {{ "general.latitudeMin" | translate }}
        </mat-label>
        <input
          type="number"
          matInput
          formControlName="latitudeMin"
          placeholder="ex.: -0.500"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>
          {{ "general.longitudeMax" | translate }}
        </mat-label>
        <input
          type="number"
          matInput
          formControlName="longitudeMax"
          placeholder="ex.: 0.500"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>
          {{ "general.longitudeMin" | translate }}
        </mat-label>
        <input
          type="number"
          matInput
          formControlName="longitudeMin"
          placeholder="ex.: -0.500"
        />
      </mat-form-field>
    </form>
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="end"
    fxLayoutGap="15px"
    class="full-width button-container"
  >
    <span class="spacer"></span>
    <button
      mat-stroked-button
      color="warn"
      class="button-size"
      mat-dialog-close
      (click)="close()"
    >
      {{ "general.cancel" | translate }}
    </button>
    <button
      mat-stroked-button
      class="button-size"
      color="accent"
      mat-dialog-close
      type="submit"
      (click)="save()"
    >
      {{ "general.search" | translate }}
    </button>
  </div>
</div>
